.cont {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    padding: 20px;

   
   
}

.cont h1 { 
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

.griditems {
    width: 90vw;
    background-color: rgb(75, 75, 75);
    height: min-content;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
   
    align-items: center;
}

.griditems img {
    height: 100%;
    width: 500px;
    
    border: 2px solid black;

    
    
}

.griditems p {
    color: white;
    font-size: 1.2rem;
    margin: 15px;
    
}

.griditems h4 {
    color: white;
    padding-top: 20px;
    font-size: 2rem;
    padding-bottom: 15px;
    margin-left: 15px;
    
}


ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    color: white;
    margin-left: 20px;
}


@media (max-width: 999px) {
    .griditems img {
        height: 400px;
        width: 337px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .griditems h4 {
        font-size: 1.6rem;
        padding-bottom: 15px;
    margin-left: 0;
    }
    .cont h1 {
        font-size: 1.2rem;
    }

    .griditems {
        display: block;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
    }
}
