.cont {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 100px;
    background-image: url("../media/testi.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.cont h1 {
    text-align: center;
    color: white;
}

.cont h4 {
    padding-top: 20px;
    color: #9e0000;
    font-weight: bolder;
    font-size: 2rem;
}

.cont img {
    height: 300px;
    width: 300px;
    padding: 20px;
   margin: auto;
    border-radius: 50%;
}

.first {
    width: 90vw;
    margin: auto;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
   
}

.first p {
    color: white;
    padding: 20px;
    font-size: 1.5rem;

}



.second {
    width: 90vw;
    margin: auto;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
}
.second p{
    color: white;
    padding: 20px;
    font-size: 1.5rem;
}

.logo2 {
    display: none;
}

@media (max-width:900px){

    .cont {
        text-align: center;
    }

    .second img  {
        width: 200px;
        height: 200px;
        float:  none;
    }
    .first img  {
        width: 200px;
        height: 200px;
        float: none;
    }

    .first p {
        font-size: 1.2rem;
    }

    .second p {
        font-size: 1.2rem;
    }
    .first {
        width: 90vw;
        margin: auto;
        padding-bottom: 100px;
        display: block;
        align-items: center;
    }
    .second {
        width: 90vw;
        margin: auto;
        padding-bottom: 100px;
        display: block;
        align-items: center;
       
       
    }
    .logo {
        display: none;
    }
    .logo2 {
        display: flex;
        
       
    }
}